/* base css code */
* {
    margin: 0;
}

.head {
    font-family: "SUSE", sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.image {
    width: 40px;
}
.big_screen_corner{
    display: none;
}

.nbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

}


.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop_down {
    position: relative;
    display: inline-block;
}

.drop_down_content {
    position: absolute;
    right: 0;
    padding: 20px;
    background-color: white;
    z-index: 1;
    display: none;
    list-style: none;
    min-width: 100px;
}
.drop_down_big{
    display: none;
}
.btn1{
    background-color: hsl(214.84deg 78.81% 46.27%);
    padding: 10px;
    color: white;
    border-radius: 15px;
}
h6{
    opacity: 0.6;
}

.drop_down:hover .drop_down_content {
    display: block;

}

.drop_down_content a {
    text-decoration: none;
}

.menu-item {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;


}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* screen1 css */
.screen1 {
    
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
   
   

}
.title_search{
flex: 0.9 0 70%;
padding-top: 4rem ;


}
.screen1 div{
   max-width: 30rem;


}

.title{
    
    margin: 10px;
}
.search_bar{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    align-items: start;
}
.search_bar button{
    margin: 10px;
    font-size: small;
    padding: 15px 25px 15px 25px;
}
.search_bar input{
    width: 90%;
    border: none;
    box-shadow: 10px 7px rgba(0,0,0,0.2);
    margin: 5px;
    padding: 20px 35px 20px 35px ;
    border-radius: 10px ;
    
}
.pg1-foot{
    padding-top: 20vh;
    font-size: smaller;
   
}
/* screen 2 css */
.screen2{
  
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.small{
    display: block;
}
.bigscreen{
    display: none;
}
span{
    color: hsl(214.7deg 78.72% 46.08%);
}
p{
    opacity: 0.7;
    font-size: 0.7rem;
}
.p-title{
    opacity: 0.9;
    font-weight: bolder;
}
.card-slider{
    margin-bottom: 1rem;
    border: solid rgba(0, 0, 0,0.1) 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
}
/* screen3 css */
.screen3{

}
.screen3 h2{
    text-align: center;
}
.screen3 p{
    text-align: center;
}
    
.hr{
   
   opacity: 0.1;
}
.font p{
  
    margin-right:1rem ;
    padding: 0;

}
.font #id{
    margin-bottom: 0 !important;
    color: blue;
    padding: 0 !important;
}
.time{
    color: hsl(214.53deg 67.72% 50.2%);
    background-color:hsl(216.43deg 70% 92.16%) ;
    padding:0.2rem 0.7rem 0.2rem 0.7rem;
    border-radius: 15px;
}
.company{
    color: hsl(135.96deg 45.61% 46.86%);
    background-color: hsl(131.25deg 36.36% 91.37%);
    padding:0.2rem 0.7rem 0.2rem 0.7rem;
    border-radius: 15px;
}
.urgency{
    color: hsl(41.14deg 95.45% 56.86%);
    background-color: hsl(40.54deg 94.87% 92.35%);
    padding:0.2rem 0.7rem 0.2rem 0.7rem;
    border-radius: 15px;
}

.cards{
    border: rgba(0, 0, 0,0.1) solid 1px;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 15px;
}

/* screen2 elments css */
.title-screen2{
    color: hsl(214.7deg 78.72% 46.08%);
    font-weight: bolder;
    font-size: medium;
    margin: 0;
}
.img-screen2{
    color: white;
    background-color: hsl(214.7deg 78.72% 46.08%);
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    margin-right: 10px;
}
/* screen4 elemnts css */
.screen4{
    padding-top:3rem ;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 3rem;
    background-color: #f0f5f8;
    
}

.screen4 h2{
    text-align: center;
    opacity: 0.9;
    font-weight: bolder;
    text-align:  center;
}
.screen4 p{
    text-align: center;
}
.carousel-indicators{
 
 top: 15rem;
}

.carousel-indicators .active{
 background-color: black !important;
}
.sliderButton{
    background-color: rgb(123, 123, 123) !important;
    border-radius: 50%;
    padding-top: 1rem !important;
    width: 20px !important;
    height: 5px !important;

}
/* 
screen5 styling */
.screen5{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding-left: 4rem;
padding-right: 4rem;
}
.imageLogos{
    width: 7rem;

    margin: 2rem;
}
/* screen 7 styling */
.screen7{
    text-align: center;
}
/* screen size for tabs or mid screen size */

@media (width > 601px) and (width < 1280px) {
    .head {

        font-size: 30px;

    }

    .drop_down_content {
        min-width: 250px;
    }

    .image {
        width: 40px;
    }

}

/* screen size for moniters */

@media (width > 1280px) {
    .head {

        font-size: 35px;


    }
    .small{
        display: none;
    }
    .bigscreen{
        display: block;
    }
    .home_nav {
        display: none;
    }
    .drop_down_big{
        display: flex;
            }
    .big_screen_corner{
        display: block;
        margin: 10px;
    }
    .drop_down_big_content{
        display: flex;
        list-style: none;
    }
    .drop_down_big_content li{
        color:black;
        padding: 10px;
        font-weight: bolder;
    }
    .drop_down_big li a{
        color: rgba(0, 0, 0,0.5);
        text-decoration: none;
    }
    .image {
        width: 50px;
    }
    .search_bar{
         
        flex-direction: row;
    }
    .search_bar input{
        width: 20vw;
    }
    .search_bar button{
        padding:15px 35px 15px 35px;
        font-size: smaller;
    }
    .pg1-foot{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
       
    }
    .screen1{
        justify-content: center;
        padding: 0;
        height: 90vh;
    }
    .screen1 div{
        position: relative;
        right: 8rem;
    }
    .title_search{
        flex: none;
    }
    .screen2{
        height: 100vh;
    }
}